:root {
    --blue-white: #e7f1ee;
    --heliotrope: #d8c3d8;
}

/* Index.html */

body {
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
}

#high-score {
    order: 0;
    margin-left: 0.5em;
}

h1 {
    font-size: 350%;
    flex-grow: 1;
    text-align: center;
    z-index: 1;
}

header {
    margin: 1em;
}


main, 
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#prompt,
.start-button {
    margin-top: 2em;
}

h2 {
    font-size: 250%;
    margin-bottom: 1em;
}

p {
    font-size: 125%;
    margin-bottom: 1em;
}

img {
    max-width: 720px;
}

#answersHTML > li,
.start-button {
    margin: 1em 0em;
    border: 2px solid gray;
}

#answersHTML > li:hover, .start-button:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 10px var(--heliotrope),
        0px 0px 15px var(--heliotrope);
}

#answersHTML > li:active {
    background-color: var(--heliotrope);
}

#answersHTML,
#questionsHTML,
#imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


input {
    margin-bottom: 1em;
}

/* highscores.html */

.HS-window, main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:	#e7fbff;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: 60px auto;
    padding: 20px;
    width: 70vw;
  }

  .savScores > *{
    margin: 1em 0px;
  }