
:root {
    --darkblue: #3c5aa6;
    --lightblue: #0075BE;
    --red: #fc6161;
    --white: #fff;
    --yellow: #ffcb05;
}

body {
    font-size: 16px;
    background-color: var(--white);
    font-weight: bold;
}

header {
    margin: 1em;
}

h1 {
    font-size: 350%;
    flex-grow: 1;
    text-align: center;
    z-index: 1;
    margin-bottom: 1em;
}

h2 {
    font-size: 250%;
    margin-bottom: 1em;
}

h3,
#clearScore,
#playAgain,
.start-button,
#prompt {
    font-size: 125%;
    margin-bottom: 1em;
    line-height: 1.2em;
}

/* Set max with for image */
img {
    max-width: 500px;
}

input {
    margin: 1em;
    height: 30px;
    font-size: 125%;
}

/* Add image to all lists  */
li
 {
    margin: 1em 1em;
    font-size: 125%;
    list-style-image: url("../images/pokeball.png");
}

nav {
    display: flex;
    justify-content: space-between;
}

section,
#answersHTML,
#questionsHTML,
#imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* The background color, borders, and flex container */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:	var(--yellow);
    border-radius: 3px;
    box-shadow: var(--lightblue) 0px 0px 0 15px,
                var(--darkblue) -9px 10px 0px 15px;
    margin: auto;
    padding: 20px;
    width: 80vw;
    height: 75%;
}

/* Add box shadow when li is hover */
.start-button:hover,
#answersHTML > li:hover,
#clearScore:hover,
#playAgain:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 10px 10px var(--red),
                0 0 10px 5px var(--red);
}

/* Set high score page title to match inline with index title */
#high-score {
    margin: 32px auto 1em auto;
}

/* hyperlink to High Scores page */
#high-score-link {
    order: 0;
    margin-left: 0.5em;
}
