body {
    font-size: 16px;
}

header {
    margin: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#high-score {
    order: 0;
    margin-left: 1em;
}

h1 {
    font-size: 350%;
    flex-grow: 1;
    text-align: center;
      
}

li {
    list-style: none;
    margin: 1em 0em;
    border: 2px solid gray;
}

li:hover{
    box-shadow: 2px 2px 2px blue;
}

#answersHTML, #questionsHTML, #imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}